[submodule "rpc/api"]
	path = rpc/api
	url = https://github.com/openebs/mayastor-api.git
	branch = release/2.0
[submodule "dependencies/control-plane"]
	path = dependencies/control-plane
	url = https://github.com/openebs/mayastor-control-plane.git
	branch = release/2.0
