**/*.terraform*
**/*.tfstate*
**/rust-tags.*
**/target
**/.idea
/default.etcd/
/node_modules/
/package-lock.json
/package.json
/result*
__pycache__
/tests/bdd/openapi/
/chart/charts/*
# charts/crds is valid chart for git
!/chart/charts/crds/
/chart/Chart.lock
!/openapi/Cargo.toml
!/openapi/build.rs
/tests/bdd/autogen/
/rust-toolchain.toml
/.rust-toolchain
/kubectl-plugin

# Minikube assets
tests/bdd/minikube/.cleanup_config.yaml
tests/bdd/minikube/.cleanup_config.yaml.lock
tests/bdd/minikube/bin
