**/*.terraform*
**/*.tfstate*
**/rust-tags.*
**/target
/.idea
/default.etcd/
/node_modules/
/package-lock.json
/package.json
/result*
__pycache__
/tests/bdd/openapi/
/chart/charts/
/chart/Chart.lock
/call-home/src/collector/openapi/*
!/call-home/src/collector/openapi/Cargo.toml
!/call-home/src/collector/openapi/build.rs
/tests/bdd/autogen/
