**/*.terraform*
**/*.tfstate*
**/rust-tags.*
**/target
**/.idea
/default.etcd/
/node_modules/
/package-lock.json
/package.json
/result*
__pycache__
/tests/bdd/openapi/
/chart/charts/*
# charts/crds is valid chart for git
!/chart/charts/crds/
/chart/Chart.lock
!/openapi/Cargo.toml
!/openapi/build.rs
/tests/bdd/autogen/
/rust-toolchain.toml
/.rust-toolchain
/kubectl-plugin

# Pytest assets
/test-dir-*
tests/bdd/venv
pytest.log
#/tests/bdd/chart-vnext/
/chart/kubectl-plugin
/report.xml
/sbom/
# never commit a signing key
cosign.key
cosign.pub
/.vscode/
/scripts/k8s/talos/controlplane.yaml
/scripts/k8s/talos/worker.yaml
/scripts/k8s/talos/.generated/

